body {
  font-family: 'Open Sans', sans-serif;
}

.bio {
  font-size: 2em;
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  max-width: 600px;
}

.languages, .contact {
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 20px;
}

.tiles {
  font-size: 1.5em;
  text-align: center;
}

.about-text, .about {
  width: 600px;
  font-size: 1.5em;
  text-align: center;
  display: inline-block;
}

.about {
  font-weight: bold;
  text-align: center;
}

.profile-image {
  max-width: 50vh;
  width: 100%;
  height: auto;
  border-radius: 50%;
  float: right;
}

.header, .about-section, .skills, .projects {
  margin-top: 60px;
  margin-bottom: 60px;
}

.about-section {
  background-color: #f2f2f2;
}

.skills {
  background-color: #f2f2f2;
}

.header {
  margin-top: 120px;
  margin-bottom: 180px;
}

.parent {
    display: flex;
    align-items: center;
}

.parent > div {
  flex: 1;
}

.about-container {
  text-align: center;
}

.project {
  background-color: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
}

.floated-right {
  float: right;
}

.project-title {
  font-weight: bold;
}

.project-desc {
  margin-top: 20px;
}

.social {
  color: #4a4a4a;
}

.subtitle {
  text-align: center;
}

.social-links {
  display: flex;
  justify-content: space-around;
}

/* Hover effects */

.project-container {
  margin: 0 auto;
}

.column {
  display: flex;
  padding: 0;
  justify-content: space-between;
}

/* #piktogram {
  float: left;
  display: block;
} */

.column:last-child {
	padding-bottom: 60px;
}
.column::after {
	content: '';
	clear: both;
	display: block;
}
.column div {
	position: relative;
	float: left;
	width: 300px;
	height: 200px;
	/* margin: 0 0 0 25px; */
	padding: 0;
}

.column div:first-child {
	/* margin-left: 0; */
}
.column div span {
	position: absolute;
	bottom: -20px;
	left: 0;
	z-index: -1;
	display: block;
	width: 300px;
	margin: 0;
	padding: 0;
	color: #444;
	font-size: 18px;
	text-decoration: none;
	text-align: center;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	opacity: 0;
}

figure {
	width: 300px;
	height: 200px;
	margin: 0;
	padding: 0;
	background: #fff;
	overflow: hidden;
}
figure:hover+span {
  /* bottom: -36px; */
  bottom: -48px;
	opacity: 1;
}

.hover10 figure img {
	-webkit-filter: grayscale(0) blur(0);
	filter: grayscale(0) blur(0);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover10 figure:hover img {
	-webkit-filter: grayscale(100%) blur(3px);
	filter: grayscale(100%) blur(3px);
}

@media only screen and (max-width: 600px) {
  .about-text, .about {
    width: 100%;
  }
  .bio {
    font-size: 1em;
  }
  .header {
    margin-top: 120px;
    margin-bottom: 60px;
  }
  .about-text {
    font-size: 1em;
  }
  .tiles {
    font-size: 1em;
    margin: 0;
  }
}
